@if (Session["MaNV"] == null)
{
    Response.Redirect("~/DangNhap/DangNhap");
}
<style>
    img {
        border-radius: 50%;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/Admin/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/Content/Admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- Bootstrap core CSS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="/Content/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="~/Content/css/jquery-ui.js"></script>

  

</head>
<body id="page-top">
        <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
            <a class="navbar-brand mr-1" href="/Home/index">Trang chủ</a>
            <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
                <i class="fas fa-bars"></i>
            </button>
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="navbar-brand mr-1"><a>@Url.Content((Session["TaiKhoan"] as NienLuan2.Models.NHANVIEN).NV_HOTEN)</a></div>
            </form>
                <!-- Navbar Search -->
                <!-- Navbar -->
                <ul class="navbar-nav ml-auto ml-md-0">
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" id="userDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="@Url.Content("~/Content/Image/" + (Session["TaiKhoan"] as NienLuan2.Models.NHANVIEN).NV_AVATAR)" class="icon-image-outline" height="40" width="40">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown1">
                            <a class="dropdown-item" href=@Url.Action("Index1","Profile")><i class="fa fa-user" aria-hidden="true"></i> Thông tin cá nhân</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a>
                        </div>
                    </li>
                </ul>
</nav>
        <div id="wrapper">
            <!-- Sidebar -->
            @*<ul class="sidebar navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fas fa-fw fa-home"></i>
                        <span>Quản lí</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);">
                        <a class="dropdown-item" href=@Url.Action("ListNV","NhanVien")>Nhân viên</a>
                        <a class="dropdown-item" href=@Url.Action("ListPB", "PhongBan")>Phòng ban</a>
                        <a class="dropdown-item" href=@Url.Action("ListCV", "ChucVu")>Chức vụ</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("ListKH","KhachHang")">
                        <i class="fas fa-fw fa-address-book"></i> <span>Khách hàng</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fas fa-fw fa-truck"></i>
                        <span>Lộ Trình</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 56px, 0px);">
                        <a class="dropdown-item" href=@Url.Action("ListLT","LoTrinh")>Quản lí lộ trình</a>
                        <a class="dropdown-item" href=@Url.Action("ListLT","ViewLoTrinh")>Xem lộ trình</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=@Url.Action("ListLT","Phieuthu")>
                        <i class="fas fa-fw fa-money"></i>
                        <span>Phiếu thu tiền nước</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=@Url.Action("ListLT","Doanhthu")>
                        <i class="fas fa-fw fa-book"></i>
                        <span>Doanh thu</span>
                    </a>
                </li>
            </ul>*@
                <nav class="sidebar navbar-nav">
                    @Html.Partial("_MenuPartial")
                </nav>
                <div class="container-fluid">
                    @RenderSection("featured", required: false)
                    <div id="content-wrapper" style="width:100%;">
                        @RenderBody()
                    </div>
                </div>
</div>
    </body>

    <!-- /.content-wrapper -->
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn thật sự muốn thoát?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn đăng xuất để trở về trang chủ</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy bỏ</button>
                    <a class="btn btn-primary" href="@Url.Action("DangXuat", "DangNhap")">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
        <!-- Bootstrap core JavaScript-->
        <script src="/Content/vendor/jquery/jquery.min.js"></script>
        <script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/Content/vendor/chart.js/Chart.min.js"></script>
        <script src="/Content/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
        <!-- Custom scripts for all pages-->
        <script src="/Content/js/sb-admin.min.js"></script>
        <!-- Demo scripts for this page-->
        <script src="/Content/js/demo/datatables-demo.js"></script>
        <script src="/Content/js/demo/chart-area-demo.js"></script>
        <script src="~/Content/js/controller/baseController.js"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
