@model PagedList.IPagedList<NienLuan2.Models.CHUCVU>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" />
<title>Công ty cấp nước Cần Thơ</title>
<div class="container-fluid">
    <div class="card mb-3">
        <div class="box">
            <div class="card-header">
                <i class="fas fa-table"></i>
                DANH SÁCH CHỨC VỤ
            </div>
            <div class="card-header">
                <button class="btn btn-primary" data-toggle="modal" data-target="#modal-mrole" style="margin-right:20px" ;>Thêm chức vụ</button>
                @using (Html.BeginForm("ListCV", "ChucVu", FormMethod.Get, new { @class = "pull-right d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" }))
            {
                    <div class="input-group">
                        <input type="text" name="searchString" value="@ViewBag.SearchString" class="form-control" placeholder="Tìm kiếm..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                }
                <input type="hidden" class="LoiKhoaNgoai" value="@ViewBag.Loi" />
                <input type="hidden" class="TonTaiMa" value="@ViewBag.Loi" />
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="dataTable">
                            <tr>
                                <th>
                                    STT
                                </th>
                                <th>
                                    Mã chức vụ
                                </th>
                                <th>
                                    Tên chức vụ
                                </th>
                                <th>
                                    Thao tác
                                </th>
                            </tr>

                            @{
                                int count = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @count
                                        @{
                                            count++;
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CV_MA)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CV_TEN)
                                    </td>
                                    <td>
                                        <button class="item btn_Sua btn btn-primary btn-sm" onclick="GetDetails('@item.CV_MA')">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        |
                                        <a class="item btn_Xoa btn btn-primary btn-sm" onclick="return confirm('Bạn chắc chắn muốn xóa?');" href="@Url.Action("xoa_CV1", new { id = item.CV_MA})">

                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                            }
                        </table>
                        @Html.PagedListPager(Model, page => Url.Action("ListCV", new { page, @searchString = @ViewBag.SearchString }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-mrole">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm chức vụ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    @using (Html.BeginForm("AddCV", "ChucVu", FormMethod.Post))
                    {
                        <div class="modal-body" style="height:300px">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Mã chức vụ :</label>
                                    <input type="text" class="form-control " id="CV_MA" name="CV_MA" placeholder="Mã chức vụ">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tên chức vụ :</label>
                                    <input type="text" class="form-control" id="CV_TEN" name="CV_TEN" placeholder="Tên chức vụ">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn_them">Thêm</button>
                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-Update">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Sửa chức vụ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:auto">
                <div class="box box-primary">
                    @using (Html.BeginForm("Edit_CV1", "ChucVu", FormMethod.Post))
                    {
                        <div class="modal-body">
                            <div class="col-md-12">
                                <div class="form-group" id="signupform">
                                    <label for="exampleInputEmail1">Mã chức vụ:</label>
                                    <input type="text" class="form-control" id="txtMaCV" name="CV_MA" placeholder="Mã chức vụ" maxlength="6" readonly>
                                    <label for="exampleInputEmail1">Tên chức vụ :</label>
                                    <input type="text" class="form-control" id="txtTenCV" name="CV_TEN" placeholder="Tên chức vụ">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                            <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Đóng</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        //bat loi khoa ngoai khi xoa
        var loi = $(".LoiKhoaNgoai").val();
        if (loi === '1')
            alert("Vui lòng xoá nhân viên đang có chức vụ này !!");
        //bat loi trung ma
        var loi = $(".TonTaiMa").val();
        if (loi === '1')
            alert("Chưa đến tháng mới để tạo kỳ ghi!!!");



    function GetDetails(id) {
    $.ajax({

        url: "/ChucVu/EditCV/" + id,
        typr: "GET",
        contentType: "application/json;charset=UTF-8",
        dataType: "json",
        success: function (response) {
            $('#txtMaCV').val(response.CV_MA);
            $('#txtTenCV').val(response.CV_TEN);
            $('#modal-Update').modal('show');
        },
        error: function (response) {
            alert(response.responseText);
        }
    });
    return false;
    }


    //bat loi khi them
    $(".btn_them").on('click', function () {
        var maCV = $('#CV_MA').val();
        var TenCV = $('#CV_TEN').val();;

        if (maCV === '')
        {
            alert("Mã chức vụ không được rỗng!!");
            return false;
        }

        if (maCV.length > 6)
        {
            alert("Mã chức vụ không được lớn hơn 6 kí tự!!");
            return false;
        }
    });


    </script>
}












