@using NienLuan2.Models
@model NHANVIEN
@{
    Cty_CapNuocEntities db = new Cty_CapNuocEntities();
    var listVT = db.VAITROes.ToList();
    var listCV = db.CHUCVUs.ToList();
    var listPB = db.PHONGBANs.ToList();
    string username = (Session["TaiKhoan"] as NHANVIEN).NV_USERNAME;
    string name = (Session["TaiKhoan"] as NHANVIEN).NV_HOTEN;
}
<title>Công ty cấp nước Cần Thơ</title>
<div class="card mb-3">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thêm nhân viên</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("AddNV", "NhanVien", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <table id="example2" class="table table-hover" border="0">
                        <tr>
                            <td><strong>Nhân viên nhập</strong></td>
                            <td>
                               <strong>@Html.Label(@name)</strong> 
                                @*@Html.HiddenFor(model => model.NV.USERNAME, new { @Value = @username })*@
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Ngày nhập</strong></td>
                            <td>
                              <strong>@Html.Label(DateTime.Today.ToString("dd-MM-yyyy"))</strong>  
                                @*@Html.HiddenFor(model => model.KH_NGAYNHAP, new { @Value = DateTime.Now.ToString() })*@
                                @Html.HiddenFor(model => model.NV_AVATAR, new { @Value = "noneAV.png" })
                                @Html.HiddenFor(model => model.NV_PASSWORD, new { @Value = "1" })
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Chức vụ</strong></td>
                            <td>
                                @Html.DropDownListFor(model => model.CV_MA, new SelectList(listCV, "CV_MA", "CV_TEN"), "----- Chọn chức vụ ------", new { @required = "required", @style = "border:1px solid silver;background:white;", @class = "btn btn-default" })
                                @Html.ValidationMessageFor(model => model.CV_MA, "", new { @class = "text-danger"  })
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Vai trò</strong></td>
                            <td>
                                @Html.DropDownListFor(model => model.VT_MA, new SelectList(listVT, "VT_MA", "VT_TEN"), "----- Chọn vai trò ------", new { @required = "required", @style = "border:1px solid silver;background:white;", @class = "btn btn-default" })
                                @Html.ValidationMessageFor(model => model.VT_MA, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td><strong>Phòng ban</strong></td>
                            <td>
                                @Html.DropDownListFor(model => model.PB_MA, new SelectList(listPB, "PB_MA", "PB_TEN"), "----- Chọn phòng ban------", new { @required = "required", @style = "border:1px solid silver;background:white;", @class = "btn btn-default" })
                                @Html.ValidationMessageFor(model => model.PB_MA, "", new { @class = "text-danger" })
                            </td>
                        </tr>

                        <tr>
                            <td><strong>Tài khoản nhân viên</strong></td>
                            <td>
                                @Html.TextBoxFor(model => model.NV_USERNAME, new {@placeholder = "Tài khoản nhân viên", @required = "required", @maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.NV_USERNAME, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        @*<tr>
                            <td><strong>Mật khẩu</strong></td>
                            <td>
                                @Html.TextBoxFor(model => model.NV_PASSWORD, new { htmlAttributes = new { @placeholder = "", @required = "required" } })
                                @Html.ValidationMessageFor(model => model.NV_PASSWORD, "", new { @class = "text-danger" })
                            </td>
                        </tr>*@
                        <tr>
                            <td><strong>Họ và tên nhân viên</strong></td>
                            <td>
                                @Html.TextBoxFor(model => model.NV_HOTEN, new { @placeholder = "Họ và tên nhân viên", @required = "required" })
                                @Html.ValidationMessageFor(model => model.NV_HOTEN, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Số điện thoại</strong></td>
                            <td>
                                @Html.TextBoxFor(model => model.NV_SDT,new { @placeholder = "Số điện thoại", @required = "required" })
                                @Html.ValidationMessageFor(model => model.NV_SDT, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td>
                                @Html.TextBoxFor(model => model.NV_EMAIL,new { @placeholder = "Email nhân viên", @required = "required" })
                                @Html.ValidationMessageFor(model => model.NV_EMAIL, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr style="text-align:center;border-bottom:none;">
                            <td colspan="2">
                                <input type="submit" id="Submit" value="Lưu nhân viên" class="btn btn-primary">
                                @Html.ActionLink("Đóng", "ListNV", "NhanVien", null, new { @class = "btn btn-default pull-right" })
                            </td>
                        </tr>
                    </table>
                }
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->


